@import './dist/scss/variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: roboto;
    font-weight: 400;   
}

ul{
    list-style: none;
}

li{
    margin-left: 4px;
}

textarea:focus, input:focus, button{
    outline: none;
}

button{
    cursor: pointer;
}

body{
    background: Sprimary-background-color;
}

//Classes
.container {
    width: 350px;
    height: 50px auto;
}